<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Assistant Website</title>
    <link rel="stylesheet" href="style2.css">
</head>
<body>

    <div class="container">
    
        <header>
            <img src="img/Website-Logo-01.png" alt="logo for travel assistant" >
        </header>

        <nav>
            <a href="https://www.google.com/maps">Google Maps</a>
            <a href="contactus.html">Contact US</a>
            <a href="register.html">Register</a>
            <a href="index.html">Login</a>
            <a href="#">Check balance</a>
        
        </nav>

        <div class="myDiv">
            <img src="img/Website-Logo-01.png" alt="logo for travel assistant" class="right">
            <h1>Online Ticket</h1>
            <h4>Passanger Name: Md Hafijur Rahman</h4>
            <h4>Number of seats : 2</h4>
            <h4>Pick up point : Jatrabari</h4>
            <h4>Destination : Badda</h4>
            <h4>Ticket fee : 30Tk</h4>
            <h4>Estimated Tine : 1 hour 30 minutes</h4>
            
            </div>

            <button id="submitButton" type="submit" > PRINT</button>



        

    

    </div>




    <script>
        // Get the modal
        var modal = document.getElementById('id01');
        
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
        </script>
    
</body>
</html>