<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Assistant Website</title>
    <link rel="stylesheet" href="style2.css">
</head>
<body>

    <div class="container">
    
        <header>
            <img src="img/Website-Logo-01.png" alt="logo for travel assistant" >
        </header>

        <nav>
            <a href="https://www.google.com/maps">Google Maps</a>
            <a href="contactus.html">Contact US</a>
            <a href="register.html">Register</a>
            <a href="index.html">Login</a>
            <a href="#">Check balance</a>
        
        </nav>

        <footer>
            <p>
            This website is made to make your jouney easier and time efficient. Through the website you can choose the best path and vehicles to reach your destionation along with addition details. you can also buy tickets online for more conveniency. further addition improvement such as tracking the vehicles will be added in the later updates.
            </p>
        </footer>



        

    

    </div>




    <script>
        // Get the modal
        var modal = document.getElementById('id01');
        
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
        </script>
    
</body>
</html>