<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Travel Assistant</title>
    <link rel="stylesheet" href="style5.css">
</head>
<body>

    <div class="container">
    
        <header>
            <img src="img/Website-Logo-01.png" alt="logo for travel assistant" >
        </header>

        <nav>
            <a href="https://www.google.com/maps/@22.8491264,89.5352832,14z">Google Map</a>
            <a href="index.html">login</a>
            <a href="information.html">Information</a>
            <a href="register.html">Register</a>
            <a href="source-destination2.html">Go back</a>
            <a href="#">Check balance</a>
        </nav>


        <main>
            <h2> Bus Name : Raida </h2>
            <p>Route : Jatrabrai-Malibag-Rampura-Bashundhra-Uttara </p>
            <a href="collect-ticket.html"><p1>Collect ticket </p1></a>
            
        </main>


        <main>
            <h2> Bus Name : Anabil </h2>
            <p>Route : Jatrabrai-Malibag-Rampura-Bashundhra-Uttara </p>
            <a href="collect-ticket.html"><p1>Collect ticket </p1></a>
        </main>
        
        
        <main>
            <h2> Bus Name : Turag </h2>
            <p>Route : Jatrabrai-Malibag-Rampura-Bashundhra-Uttara </p>
            <a href="collect-ticket.html"><p1>Collect ticket </p1></a>
        </main>


        


        

    

    </div>






    <script>
        // Get the modal
        var modal = document.getElementById('id01');
        
        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
          if (event.target == modal) {
            modal.style.display = "none";
          }
        }
        </script>
    
</body>
</html>