<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style4.css">


</head>
<body>
    <header>
        <img src="img/Website-Logo-01.png" alt="logo for travel assistant" >
    </header>

    <nav>
        <a href="https://www.google.com/maps/@22.8491264,89.5352832,14z">Google Map</a>
        <a href="contactus.html">Contact Us</a>
        <a href="information.html">Information</a>
        <a href="register.html">Register</a>
        <a href="index.html">Login</a>
        <a href="#">Check balance</a>
    
    </nav>
    
    <div class="wrapper">
        <h1>Choose Source and Destination</h1>
        
         <h2>Source</h2>
        <input id="firstName" type="text">
        <h2>Destination</h2>
        <input id="threeMonthGoal" type="text">
        <h2>How Many seats?</h2>
        <input id="seat" type="text">

        <h4><input type="date" name="date_picker" value="2020-01-29" required ></h4>
        
        <a href="jatrabai-badda.html"><button id="submitButton" type="submit"> CONFIRM </button></a>
        
        
        








        </div>

        <script src="java1.js">
        </script>
</body>
</html>